@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=Ubuntu&family=Work+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
  --primary-color: #4287f5;
  --selected-color: #f5b042;
  --hover-color: hsl(217, 57%, 29%);
  --primary-font: #2b569c;
  --footer-background-color: #8DB5F7;
  --footer-icon-hover: #F7CF8D;
  --odd-section-color: rgba(141, 181, 247, .2);
}